<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caopeng.travel.mapper.UserMapper">
    <!--保存用户-->
    <insert id="saveUser" parameterType="user">
        insert into travel.user(username,password,realname,telephone) values (#{username},#{password},#{realname},#{telephone});
    </insert>
    <!--通过用户名得到用户-->
    <select id="getUserByName" parameterType="String" resultType="com.caopeng.travel.pojo.User">
        select * from travel.user where user.username = #{username}
    </select>
    <!--通过用户名和密码得到用户-->
    <select id="getUserByNameAndPassword" parameterType="String" resultType="user">
        select * from travel.user where user.username = #{username} and user.password = #{password}
    </select>
    <!--通过id获得用户-->
    <select id="getUserById" resultType="com.caopeng.travel.pojo.User">
        select * from travel.user where user.id = #{id}
    </select>
    <!--得到所有的用户-->
    <select id="getAllUsers" resultType="com.caopeng.travel.pojo.User">
        select * from travel.user
    </select>
</mapper>